<ion-header>
  <ion-toolbar color="newcolor">
	<ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-list>
  <ion-list-header>*Agrega un tipo de actividad</ion-list-header>
  <ion-item>
    <ion-label>Ejercicios</ion-label>
    <ion-select [(ngModel)]="form.ejercicio" [interfaceOptions]="customActionSheetOptions" >
      <ion-select-option *ngFor="let item of ejer" [value]="item">{{item}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
    <ion-button expand="full" color="success" (click)="onCreate()">Agregar Actividad</ion-button>
  	<hr>
    <ion-row align="center">
      <ion-col><b>Tipo</b></ion-col>
      <ion-col><b>Contenido</b></ion-col>
      <ion-col><b>Borrar</b></ion-col>
    </ion-row>
    <hr>
    <ion-row align="center" *ngFor="let ejercicio of ejercicios">
      <ion-col>{{ejercicio.ejercicio}}</ion-col>
      <ion-col><ion-button color="warning" size="small" [routerLink]="['/', 'ejercicio-agregar', ejercicio.id, ejercicio.ejercicio]"><ion-icon name="create"></ion-icon></ion-button></ion-col>
      <ion-col><ion-button color="danger" size="small" (click)="presentAlertConfirm(ejercicio.id)"><ion-icon name="trash"></ion-icon></ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
