.ion-color-newcolor {
  --ion-color-base: #02BBD2;
}

.tab {
	background-color: #FFFFFF
}

ion-row {
	border: solid 2px #954c9e;
	border-radius: 9px;
	background-color: #02BBD2;
	margin: 0px 10px 0px;
}