<ion-header>
  <ion-toolbar color="newcolor">
    <ion-title text-center color="light">Silabas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid fixed>
  <br>
  <ion-row>
   <ion-col>
      <img src="assets/imagen/dos.jpg" />
   </ion-col>
  </ion-row>
   	<ion-row>
       		<ion-col style = "border: solid 1px #ddd">
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> A - 1 </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 1px #ddd"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
  	<br>
   	<ion-row>
   		<ion-col style = "border: solid 1px #ddd">
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> A - 1 </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 1px #ddd"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
   	  	<br>
   	<ion-row>
   		<ion-col style = "border: solid 1px #ddd">
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> A - 1 </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 1px #ddd"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
   	  	<br>
   	<ion-row>
   		<ion-col style = "border: solid 1px #ddd">
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> A - 1 </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 1px #ddd"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
   	  	<br>
   	<ion-row>
   		<ion-col style = "border: solid 1px #ddd">
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> A - 1 </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 1px #ddd"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
  	<br>
   	<ion-row>
   		<ion-col style = "border: solid 1px #ddd">
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> A - 1 </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 1px #ddd"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
<br>
   	<ion-row>
   		<ion-col style = "border: solid 1px #ddd">
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> A - 1 </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 1px #ddd"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
<br>
   	<ion-row>
   		<ion-col style = "border: solid 1px #ddd">
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> A - 1 </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 1px #ddd"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>

   </ion-grid>
</ion-content>
