<ion-header>
  <ion-toolbar color="newcolor">
    <ion-title text-center color="light">Silabas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid fixed>
  <br>
   	<ion-row >
       		<ion-col>
   			<ion-segment scrollable style = "background-color: #FFFFFF">
   				<ion-segment-button>
   					<ion-label> B </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 2px #663a87"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
  	<br>
   	<ion-row>
   		<ion-col>
   			<ion-segment scrollable style = "background-color: #FFFFFF">
   				<ion-segment-button>
   					<ion-label> C </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 2px #663a87"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
   	  	<br>
   	<ion-row>
   		<ion-col>
   			<ion-segment scrollable style = "background-color: #FFFFFF">
   				<ion-segment-button>
   					<ion-label> D </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 2px #663a87"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
   	  	<br>
   	<ion-row>
   		<ion-col>
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> F </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 2px #663a87"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
   	  	<br>
   	<ion-row>
   		<ion-col>
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> G </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 2px #663a87"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
  	<br>
   	<ion-row>
   		<ion-col>
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> H </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 2px #663a87"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
<br>
   	<ion-row>
   		<ion-col>
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> J </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 2px #663a87"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
<br>
   	<ion-row>
   		<ion-col>
   			<ion-segment scrollable>
   				<ion-segment-button>
   					<ion-label> K </ion-label>
   				</ion-segment-button>
   				<ion-segment-button
   				style = "border: solid 2px #663a87"
   				 *ngFor="let item of listOne">
   					<ion-label> {{item}} </ion-label>
   				</ion-segment-button>
   			</ion-segment>
   		</ion-col>
   	</ion-row>
<br>
   </ion-grid>
</ion-content>
