<ion-header>
  <ion-toolbar color="newcolor">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/ejercicio-agregar"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Editar Contenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">

    <br>
    <ion-item>
      <ion-label position="floating">Problema:</ion-label>
      <ion-input type="text" name="problema" [(ngModel)]="form.problema"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Opcion 1:</ion-label>
      <ion-input type="text" name="opcion1" [(ngModel)]="form.opcion1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Opcion 2:</ion-label>
      <ion-input type="text" name="opcion2" [(ngModel)]="form.opcion2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Opcion 3:</ion-label>
      <ion-input type="text" name="opcion3" [(ngModel)]="form.opcion3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Opcion correcta:</ion-label>
      <ion-input type="text" name="opcionc" [(ngModel)]="form.opcionc"></ion-input>
    </ion-item>
    <ion-item>
      <input type="file" accept="image/*" ng2FileSelect [uploader]="fileUploader"/>
    </ion-item>
    <br><br>
    <ion-button color="newcolor" expand="full" (click)="uploadFiless()">Crear</ion-button>
    <br>

</ion-content>
