<ion-header>
  <ion-toolbar color="newcolor">
    <ion-title color="light" align="center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">

  <div *ngIf="!isLogged">
    <img src="assets/imagen/libro.jpg" class="icon">
    <br><br>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario:</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="form.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="form.password"></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="block" (click)="onLogin()" color="newcolor">Siguiente</ion-button>
    <br>
    <p align="center" routerLink="/registro" > ¿No tienes cuenta? </p>
  </div>
  
  <div *ngIf="isLogged">
    <img src="assets/imagen/libro.jpg" class="icon">
    <br>
    <ion-text align="center" color="primary">
      <h5>¡Bienvenido {{ nombreUser }}!</h5>
    </ion-text>
    <br>


  <div *ngIf="isAdmin">
    <form>
     <ion-list>
      <ion-item>
        <ion-label position="floating">Agregar Curso</ion-label>
        <ion-select [(ngModel)]="curso.nombre_curso" name=nombre_curso interface="popover">
          <ion-select-option *ngFor="let item of listOne" [value]="item" >{{item}}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-list>
    <br>
      <ion-button expand="block" ion-button (click)="onClick()"> Agregar </ion-button>
    </form>
  </div>

  <div *ngIf="isUser">
    <form>
     <ion-list>
      <ion-item>
        <ion-label position="floating">Inscribirte a un Curso</ion-label>
        <ion-input type="text" name="curso"></ion-input>
      </ion-item>
      </ion-list>
      <br>
      <ion-button expand="block" ion-button> Inscribirme </ion-button>
    </form>
    <br>
  </div> 

  </div>  
</ion-content>

