<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-content padding>
  <div *ngIf="!isLogged">
    <img src="assets/imagen/juego2.jpg" class="icon">
    <br><br>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario:</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="form.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="form.password"></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="full" (click)="onLogin()" color="newcolor">Siguiente</ion-button>
    <br>
  </div>
  <div *ngIf="isLogged">
    <img src="assets/imagen/juego2.jpg" class="icon">
    <br>
    <ion-text color="primary" text-center>
      <h5>¡Bienvenido!</h5>
    </ion-text>
    <br>
  </div>
  <br>
</ion-content>
