
<ion-content fullscreen="false">

  <div *ngIf="!isLogged">
    <img src="assets/imagen/libro.jpg" class="icon">
    <br><br>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario:</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="form.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="form.password"></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="block" (click)="onLogin()" color="newcolor">Siguiente</ion-button>
    <br>
    <p routerLink="/registro" text-center>¿No tienes cuenta?</p>
  </div>
  
  <div *ngIf="isLogged">
    <img src="assets/imagen/libro.jpg" class="icon">
    <br><br>
    <ion-text text-center color="primary">
      <h5>¡Bienvenido {{ nombreUser }}!</h5>
    </ion-text>
  </div>

  <div *ngIf="isAdmin">
    <form>
     <ion-list>
      <ion-item>
        <ion-label>Agregar Curso</ion-label>
        <ion-select interface="popover">
          <ion-select-option *ngFor="let item of listOne" [value]="item">{{item}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Agregar Ejercicios</ion-label>
      </ion-item>
       <ion-item *ngFor="let item of listTwo">
         <ion-label>{{item}}</ion-label>
         <ion-checkbox slot="start" [value]="item" ></ion-checkbox>
       </ion-item>
      </ion-list>
      <ion-button expand="block" ion-button >Agregar</ion-button>
    </form>
    <br>
  </div>

  <div *ngIf="isUser">
    <ion-text text-center color="primary">
      <h5>Inscribirse a un curso</h5>
    </ion-text>
    <br>
  </div>   
</ion-content>
