<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Contenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">

<div *ngIf="!isLee">
    <br>
    <ion-item>
      <ion-label position="floating">Problema:</ion-label>
      <ion-input type="text" name="problema" [(ngModel)]="form.problema"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="file" name="imagem" [(ngModel)]="form.file"></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="block" color="newcolor">Siguiente</ion-button>
    <br>
  </div>
  
  <div *ngIf="isLee">
    <br>
    <form>
     <ion-list>
      <ion-item>
        <ion-label position="floating">Inscribirte a un Curso</ion-label>
        <ion-input type="text" name="curso"></ion-input>
      </ion-item>
      </ion-list>
      <br>
      <ion-button expand="block" ion-button> Inscribirme </ion-button>
    </form>
    <br>
  </div> 


</ion-content>
