<ion-tabs >
  <ion-tab-bar *ngIf="isLogged" slot="bottom">

    <ion-tab-button tab="login">
      <ion-icon name="book"></ion-icon>
      <ion-label>login</ion-label>
    </ion-tab-button>
    
    <ion-tab-button *ngIf="!isAdmin" tab="abecedario">
      <ion-icon name="book"></ion-icon>
      <ion-label>Silabas</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isAdmin" tab="vocales">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isAdmin" tab="inicio">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logOut()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>logout</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

