<ion-header>
  <ion-toolbar color="newcolor">
  	<ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/curso-ejercicios"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Agregar Ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <br>
    <ion-button expand="full" color="newcolor" [routerLink]="['/', 'modal']">Agregar ejercicio</ion-button>

  <ion-grid>
    <hr>
    <ion-row align="center">
      <ion-col><b>Problema</b></ion-col>
      <ion-col><b>Editar</b></ion-col>
      <ion-col><b>Borrar</b></ion-col>
    </ion-row>
    <hr>
    <ion-row align="center" *ngFor="let contenido of contenidos">
      <ion-col>{{contenido.problema}}</ion-col>
      <ion-col><ion-button color="warning" size="small" [routerLink]="['/', 'modal', contenido.id, contenido.ejercicio]"><ion-icon name="create"></ion-icon></ion-button></ion-col>
      <ion-col><ion-button color="danger" size="small" (click)="presentAlertConfirm(contenido.id)"><ion-icon name="trash"></ion-icon></ion-button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>