<ion-header>
  <ion-toolbar color="newcolor">
	<ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" align="center">Ejercicios nuevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<hr>
	<ion-item>
		<ion-text>
			Selecciona el tipo de ejercicio:
		</ion-text>
	</ion-item>
	<hr>
    <ion-button expand="full" color="success" >Selecciona</ion-button>
    <ion-button expand="full" color="success" >Completa la palabra</ion-button>

</ion-content>
